---
layout: default
---

<div class="intro">
    <div class="wow fadeInRight intro-img"></div>
    <div class="wow fadeIn intro-info">
        <div class="wow fadeInLeft intro-title">METAL PRODUCTION</div>
        <div class="wow fadeInLeftsmall intro-char">There must be something only you can do.</div>
    </div>
</div>

<div class="content-block">




    <div class = "wow fadeInDown content-list" >

    <h3 id="new-area-探索" class="clickable-header"> NEW AREA 探索 </h3>

        <h4 id="区块链" class="clickable-header"> 区块链 </h4>

            <h5 id="基础介绍" class="clickable-header"> 基础介绍 </h5>

            <ul class = "main-list">
                {% for post in site.categories.new reversed %}
                    <li><p class = "post-date">{{ post.date | date:"%Y/%m/%d" }}</p><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>

    </div>




    <div class = "wow fadeInUp content-list" >

    <h3 id="system-系统" class="clickable-header">SYSTEM 系统</h3>

        <h4 id="基础数学" class="clickable-header">基础数学</h4>

            <ul class = "main-list">
                {% for post in site.categories.math reversed %}
                    <li><p class = "post-date">{{ post.date | date:"%Y/%m/%d" }}</p><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>

        <h4 id="cpp" class="clickable-header">C++</h4>

            <ul class = "main-list">
                {% for post in site.categories.cpp reversed %}
                    <li><p class = "post-date">{{ post.date | date:"%Y/%m/%d" }}</p><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>

        <h4 id="工具" class="clickable-header">工具</h4>

            <ul class = "main-list">
                {% for post in site.categories.tool reversed %}
                    <li><p class = "post-date">{{ post.date | date:"%Y/%m/%d" }}</p><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>

        <h4 id="gpu" class="clickable-header">GPU</h4>

            <ul class = "main-list">
                {% for post in site.categories.GPU reversed %}
                    <li><p class = "post-date">{{ post.date | date:"%Y/%m/%d" }}</p><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>

        <h4 id="图形渲染" class="clickable-header">图形渲染</h4>

            <ul class = "main-list">
                {% for post in site.categories.graphic reversed %}
                    <li><p class = "post-date">{{ post.date | date:"%Y/%m/%d" }}</p><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>

    </div>




    <div class = "wow fadeInDown content-list" >

    <h3 id="project-制作" class="clickable-header">PROJECT 制作</h3>

        <h4 id="哲学思想" class="clickable-header">哲学思想</h4>

            <ul class = "main-list">
                {% for post in site.categories.phi reversed %}
                    <li><p class = "post-date">{{ post.date | date:"%Y/%m/%d" }}</p><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>

        <h4 id="项目制作管理" class="clickable-header">项目制作管理</h4>

            <ul class = "main-list">
                {% for post in site.categories.production reversed %}
                    <li><p class = "post-date">{{ post.date | date:"%Y/%m/%d" }}</p><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>

    </div>




    <div class = "wow fadeInUp content-list" >

    <h3 id="info-其它" class="clickable-header">INFO 其它</h3>

            <ul class = "main-list">
                {% for post in site.categories.other reversed %}
                    <li><p class = "post-date">{{ post.date | date:"%Y/%m/%d" }}</p><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>

    </div>




</div>