---
---
@charset "utf-8";

// Base

@font-face { font-family: 'RobotoMono'; src: url('fonts/RobotoMono.ttf'); font-display: swap; }
@font-face { font-family: 'Roboto'; src: url('fonts/Roboto-Light.ttf'); font-display: swap; }
@font-face { font-family: 'Raleway'; src: url('fonts/Raleway-Regular.ttf'); font-display: swap; }

@font-face { font-family: 'Newsreader_60pt-Light'; src: url('fonts/Newsreader_60pt-Light.ttf'); font-display: swap; }
@font-face { font-family: 'Newsreader_60pt-ExtraLight'; src: url('fonts/Newsreader_60pt-ExtraLight.ttf'); font-display: swap; }
@font-face { font-family: 'Newsreader_60pt-Regular'; src: url('fonts/Newsreader_60pt-Regular.ttf'); font-display: swap; }
@font-face { font-family: 'MiSans-Light'; src: url('fonts/MiSans-Light.otf'); font-display: swap; }
@font-face { font-family: 'MiSans-Normal'; src: url('fonts/MiSans-Normal.otf'); font-display: swap; }
@font-face { font-family: 'MiSans-ExtraLight'; src: url('fonts/MiSans-ExtraLight.otf'); font-display: swap; }

html,body {
  padding: 0; margin: 0;
}

li,ol,ul { list-style: none; }

a { text-decoration: none; width: fit-content; width: -moz-fit-content; }
a:link,a:visited { color:#1b2229; }
a:hover { color: #828282; }

h1,h2,h3,h4,h5 { font-family: 'Newsreader_60pt-ExtraLight','MiSans-ExtraLight'; }


// Post-h2

h2 {
  font-family: 'Newsreader_60pt-ExtraLight','MiSans-ExtraLight';
  border-left: 5px solid #e8e8e8;
  padding: 5px 10px;
  margin: 75px 3px 20px 3px;
  font-size: xxx-large;
  font-weight: unset;
}

h3 {
  border-left: 1.4px solid #e0e0e0;
  padding: 5px 10px 0px;
  margin: 25px 0px 20px;
  font-size: 30px;
  font-weight: unset;
  color: #1b2229;
}

h4 {
  padding: 9px;
  border-bottom: 1px solid #e8e8e8;
  margin: 55px 3px 10px;
  font-size: 18px;
  word-break: break-word;
  font-weight: unset;
}

// Post-h5

h5 {
  padding-left: 11px;
  margin: 30px 3px 15px;
  color: #103b74;
}

// Header

.site-header {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
}

.header-wrapper {
  height: 35px;
  display: flex;
  align-items: center;
}

.site-title {
  font-family: 'Raleway';
  font-size: 14px;
}

// Home

.wrapper {
  z-index: -1;
  top: 50px;
  left: 350px;
  right: 25px;
  position: absolute;
}

@media only screen and (max-width: 800px) {
  .wrapper {
    left: 17px;
    right: 17px;
  }
}

.intro {
  display: flex;
  align-items: center;
  font-family: 'Newsreader_60pt-ExtraLight','MiSans-ExtraLight';
  border-bottom: 1px solid #e8e8e8;
}

@media only screen and (max-width: 800px) {
  .intro {
    display: flex;
    flex-direction: column;
  }
}

.intro-img {
  background: url(/assets/img/intro.jpg);
  background-size: contain;
  background-position: center;
  min-width: 150px;
  min-height: 285px;
  filter: invert(1);
}

.intro-info {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 13px;
  color: #1b2229;
  background-color: #ffffff;
  width: 100%;
}

.self-intro-img {
  background: url(/assets/img/self-intro-img.jpg);
  background-size: contain;
  background-position: center;
  min-height: 50px;
  margin: 10px 0 0;
}

.intro-title {
  font-size: 40px;
  font-weight: unset;
}

.intro-char {
  font-size: medium;
  font-family: 'Newsreader_60pt-Light';
}

.content-block {
  display: flex;
}

@media only screen and (max-width: 1150px) {
  .content-block {
    display: flex;
    flex-direction: column;
  }
}

.content-list {
  flex: 1;
  margin-bottom: 80px;
}

.main-list {
  padding: 0 13px;
}

.main-list li { 
  display: flex; 
  align-items: center;
  font-family: 'Newsreader_60pt-ExtraLight','MiSans-ExtraLight'; 
}

.main-list a { 
  padding-left: 6px; 
  font-size: 14px;
}

.post-date {
  font-family: 'Roboto';
  font-size: 14px;
  color: rgba(35, 34, 33, .4);
  margin: 0;
}

// Toc

.toc-bar { 
  width: 275px;
  background-color: white;
  height: calc(100vh);
  overflow-y: scroll;
  position: fixed;
  z-index: 2;
  top: 0;
  padding: 0 15px;
}

.toc-title {
  font-family: 'Newsreader_60pt-ExtraLight';
  font-size: 40px;
  margin: 20px 0 27px 0;
  color: #e0e0e0;
}

.toc-item {
  margin: 18px 0 40px;
}

.toc-item .toc-list .toc-item {
  margin: 10px 0;
}

#toc ul { padding: 5px 0 15px 0; }

.toc-list .toc-item .toc-link { 
  border-left: 10px solid #e8e8e8;
  padding: 5px 11.5px 0px;
  font-size: 30px !important;
  font-family: 'Newsreader_60pt-ExtraLight','MiSans-ExtraLight';
}

#toc ul li ul li a { 
  font-size: 18px !important;
  border-left: 1px solid #e8e8e8;
  padding: 4px 15px 0px;
  margin-left: 24px;
}

// Post-#toc ul li ul li ul li a

#toc ul li ul li ul li a {
  font-size: small !important;
  color: #103b74;
  border-left: none;
  padding: 0px 22px;
}

.toc-bar::-webkit-scrollbar {
  width: 3px;    
}

.toc-bar::-webkit-scrollbar-thumb {
  background:#9d9d9d70;
}

.toc-bar::-webkit-scrollbar-track {
  background:#cdcdcd70;
}

.flip {
  margin: 0 10px;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .toc-bar { 
    left: -390px;
  }
  .flip {
    color: #424242;
  }
}

// Post

h1 { 
  font-size: 19px;
  margin: 0; 
}

.post-header {
  text-align: center;
  margin: 40px 0 0 0;
}

.post-content p {
  font-size: 14px;
  padding: 0 14px;
  font-family: 'MiSans-ExtraLight'; 
}

.post-content img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.post-meta {
  margin: 5px 0 40px;
  color: #828282;
  font-size: 11.5px;
} 

.highlight {
  margin: 7.15px;
}

pre code {
  font-family: RobotoMono;
  font-size: small;
  overflow: auto!important;
}

pre code.hljs {
  display: block;
  overflow-x: auto!important;
}

strong {
  padding: 0 1.5px;
  line-height: 1em;
  font-family: 'MiSans-ExtraLight';
}

em {
    color: red;
    font-style: initial;
    font-family: 'MiSans-ExtraLight';
    padding: 5px 10px;
    background-color: mistyrose;
    display: block;
}

hr {
    color: #1b2229;
    border-style: ridge;
    margin-block-start: 20px;
    margin-block-end: 10px;
}

blockquote {
  margin: 0 7.5px;
  padding: 0 0 0 5px;
}

blockquote p {
  font-size: 11px!important;
  color: grey;
}

.katex-display {
  font-size: small;
}

.katex-display {
  display: block;
  margin: 1.4em 0!important;
  padding: 20px!important;
  text-align: center;
  overflow-x: auto!important;
  overflow-y: hidden!important;
}

.post-content li, ol, ul {
  list-style: disc;
  font-family: 'MiSans-ExtraLight';
  font-size: 13px;
  color: #1b2229;
}

// Footer

.site-footer {
  padding: 60px 0px 45px 0px;
  font-size: 0.8rem;
  color: #828282;
  font-family: 'MiSans-ExtraLight';
}

.footer-heading {
  margin: 50px 0 10px 0;
}

.u-email {
  font-size: 11px;
}

.rights {
  font-size: 0.8em;
  margin: 2px 0;
}