<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <script src="/assets/js/toc-script.js" type="text/javascript"></script>
  
  <body>
    {%- include header.html -%}
    <main class="main-content" aria-label="Content">
      
      <div class="wow fadeInLeft toc-bar">
        <div id="toc"></div>
      </div>

      <div class="wrapper">
        {{ content }}
        {%- include footer.html -%}
      </div>

    </main>
    <script type="text/javascript"> $(document).ready(function() {$('#toc').toc(); }); </script>
  </body>

</html>